page-contract {
  .navbar-transparent,
  .toolbar-background {
    background: $toolbar-scanner;
  }
  color: #fff;
  ion-select {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .item-inner {
    border-radius: 0 !important;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    background-size: 40px 40px !important;
    background-repeat: no-repeat;   
  }
  .change-price {
    text-align: center;
    font: 1.4em sans-serif;
  }

  .alert-radio-inner {
    background-color: transparent !important;
  }

  .ion-card img {
    width: 20%;
    display: inline-block;
  }

  .change-price {
    display: block;
  }
}
