page-login2 {
    background: transparent none;
    &>ion-content.content {
        background: #f5f5f9;
    }
    .navbar-transparent,
    .toolbar-background {
        background: #fff;
        border-bottom: 3px #f5f5f9 solid;
        box-sizing: border-box;
        padding: 0px;
    }
    ion-item {
        background: #ffffff !important;
    }
    ion-item img {
        height: 28px;
        width: 28px;
    }


}