<ion-header>
    <ion-navbar color="blank" style="height:50px !important;min-height: 50px !important;">
        <ion-title>{{ 'Add Contact' | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="addressBookAdd">
        <ion-item>
            <ion-label stacked style="font-size:15px;">{{ 'Name' | translate }}</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked style="font-size:15px;">{{ 'Email' | translate }}</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked style="font-size:15px;">{{ 'GGD Address' | translate }}</ion-label>
            <ion-input formControlName="address" type="text" [value]="addressBookAdd.value.address" address-validator></ion-input>

            <ion-icon *ngIf="addressBookAdd.controls.address.status == 'VALID'" name="ios-checkmark-circle" class="check success" item-right></ion-icon>
            <ion-icon *ngIf="addressBookAdd.value.address && addressBookAdd.controls.address.status == 'INVALID'" class="check fail" name="ios-close-circle" item-right></ion-icon>

            <ion-icon class="scanner-icon" name="qr-scanner" item-right (click)="openScanner()"></ion-icon>
        </ion-item>
    </form>
    <div padding class="div-btn">
        <button ion-button class="btn" (click)="save()">
            {{'Save' | translate}}
          </button>
    </div>

</ion-content>