<ion-header>
    <ion-navbar color="blank" style="height:50px !important;min-height: 50px !important;">
        <ion-title>{{ 'My props' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item no-lines detail-push style="height:30px !important;border-bottom: 1px #f5f5f9 solid;">
        <div item-start style="line-height:25px;font-size: 16px;">已有道具</div>
        <div item-end style="line-height:25px;color:#999999;font-size: 15px;" (click)="openAllPropsPage()">查看全部</div>
    </ion-item>
    <ion-grid padding>
        <ion-row>
            <div *ngFor="let item of datas.existing" style="width: 25%;text-align: center;position: relative;">
                <img class="img" src="{{item.src}}">
                <img *ngIf="item.label == 1" style="position: absolute;width: 30px;height: 30px;right: 2px;right: 0px;top: -15px;z-index: 99;" src="assets/img/new.png">
                <div>{{item.name}}</div>
            </div>
        </ion-row>
    </ion-grid>
    <ion-item no-lines detail-push style="height:30px !important;border-bottom: 1px #f5f5f9 solid;">
        <div item-start style="line-height:25px;font-size: 16px;">我的在售</div>
        <div item-end style="line-height:25px;color:#999999;font-size: 15px;" (click)="openMySalePropsPage()">查看全部</div>
    </ion-item>
    <ion-grid padding>
        <ion-row>
            <div *ngFor="let item of datas.sale" style="width: 25%;text-align: center;">
                <img class="img" src="{{item.src}}">
                <div>{{item.name}}</div>
                <div style="font-size:12px;color:red;">售{{item.pay}}石</div>
            </div>
        </ion-row>
    </ion-grid>
    <ion-item no-lines detail-push style="height:30px !important;border-bottom: 1px #f5f5f9 solid;">
        <div item-start style="line-height:25px;font-size: 16px;">道具流水</div>
        <div item-end style="line-height:25px;color:#999999;font-size: 15px;" (click)="openPropsBillPage()">查看全部</div>
    </ion-item>
    <ion-item no-lines *ngFor="let item of datas.prop">
        <img *ngIf="item.label==1" item-start style="height: 25px;width: 25px;" src="assets/img/down_arrow.png">
        <img *ngIf="item.label==3" item-start style="height: 25px;width: 25px;" src="assets/img/fused.png">
        <img *ngIf="item.label==2" item-start style="height: 25px;width: 25px;" src="assets/img/up_arrow.png">
        <div>{{item.info}}</div>
        <div item-end>{{item.date}}</div>
    </ion-item>
</ion-content>