page-welcome {
  background: transparent none;
  & > ion-content.content {
    background: #fff;
  }
  .navbar-transparent,
  .toolbar-background {
    background: #fff;
    box-sizing: border-box;
    padding: 0px;
  }
  .btn {
    border-radius: 20px;
    width: 62%;
    min-width: 62%;
    height: 40px;
    font-size: 18px;
    color: #0894f3;
  }
}
