<ion-header>
    <ion-navbar color="blank" style="height:50px !important;min-height: 50px !important;">
        <ion-title>{{ 'Payment details' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let items of datas">
        <div style="padding:5px 0px 5px 10px;">{{ items?.month }}</div>
        <ion-item *ngFor="let item of items.info" (click)="gotoBillingDetailsPage(item)">
            <img item-start src="assets/img/{{ item?.type == 0 ? 'up_arrow' : 'down_arrow' }}.png" />
            <div style="padding-left:8px;">{{ item?.detail }}</div>
            <div item-end>
                <div [ngStyle]="{ color: item?.type == 0 ? '' : '#1abb9b' }" style="text-align: right;font-size: 22px;">
                    {{ item?.amount }}
                </div>
                <div style="font-size:13px;color:#999999;margin-top: 10px;">
                    {{ item?.date }}
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>