page-goldmarket {
  .navbar-transparent,
  .toolbar-background {
    background: $toolbar-scanner;
  }
  color: #fff;
  ion-select {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .item-inner {
    border-radius: 0 !important;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    background-size: 40px 40px !important;
    background-repeat: no-repeat;
    background-image: url('assets/img/prop/monkey.jpg') !important;
  }
  .change-price {
    text-align: center;
    font: 1.4em sans-serif;
  }
  // [id^='alert-input-'][id$='-0'] .alert-radio-label {
  //   background-image: url('../assets/images/menu/flag_ni.png') !important;
  // }
  // [id^='alert-input-'][id$='-1'] .alert-radio-label {
  //   background-image: url('../assets/images/menu/flag_gt.png') !important;
  // }
  .popover-content {
    background-image: url('assets/img/prop/monkey.jpg') !important;
    background-color: transparent !important;
  }

  .alert-radio-inner {
    background-color: transparent !important;
  }

  .item-img {
    width: 20%;
    display: inline-block;
  }

  .change-price {
    display: block;
  }
}
