page-mine {
  background: transparent none;
  & > ion-content.content {
    background: #f5f5f9;
  }
  .ion-item {
    background: #f5f5f9;
  }
  .navbar-transparent,
  .toolbar-background {
    background: #fff;
    padding: 0px;
  }
  .search-img {
    width: 24px;
    height: 24px;
  }
  .title {
    font-size: 15px;
    color: #000000;
  }
  .icon-img {
    width: 30px;
    height: 30px;
  }
}
